<%= form_with(model: parking_slot, local: true) do |form| %>
  <% if parking_slot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(parking_slot.errors.count, "error") %> prohibited this parking_slot from being saved:</h2>

      <ul>
      <% parking_slot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sequence_number %>
    <%= form.number_field :sequence_number %>
  </div>

  <div class="field">
    <%= form.label :available %>
    <%= form.check_box :available %>
  </div>

  <div class="field">
    <%= form.label :auto_release_time %>
    <%= form.datetime_select :auto_release_time %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
