<p id="notice"><%= notice %></p>

<p>
  <strong>Sequence number:</strong>
  <%= @parking_slot.sequence_number %>
</p>

<p>
  <strong>Available:</strong>
  <%= @parking_slot.available %>
</p>

<p>
  <strong>Auto release time:</strong>
  <%= @parking_slot.auto_release_time %>
</p>

<%= link_to 'Edit', edit_parking_slot_path(@parking_slot) %> |
<%= link_to 'Back', parking_slots_path %>
